{% extends 'dev/base.html' %} {% load static %} {% block content %}

<br>

{% for i in tables%}
<!-- Colored FAB button with ripple -->
    |
    {% if i.status == 'aberta' %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Mesa {{i.number}} - {{i.status}}
    </button>
    {% endif %}
    {% if i.status == 'fechada' %}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button">
        Mesa {{i.number}} - {{i.status}}
    </button>
    {% endif %}
{% endfor %}

{% endblock %}