.responsible-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
  }

  .responsible-img-a {
    display: inline-block;
    margin-bottom: 15px;
    width: calc(50% - 7px);
  }

  @media screen and (min-width: 25em){
    .responsible-img-a {
      width: calc(25% - 9px);
      height: calc(100% - 9px);
    }
  }